html{
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
}

body{
    margin: 0;
    background-color: powderblue;
}

.container-wrapper{
    display: flex;

}

.timetable{
    width: 100%;
}


.container{
    background-color: #fff;
    padding: 2rem;
    margin: 0 10rem;
    
}


@media screen and (max-width: 1100px){
    .container{
        background-color: #fff;
        padding: 2rem;
        margin: 0 2rem;
    }
}

@media screen and (max-width: 678px){
    .container{
        background-color: #fff;
        padding: 2rem;
        margin: 0 0;
    }
}

.container1{
    margin-right: 0;
    align-self: flex-start;
}
.container2{
    margin-left: 0;
}


.class-wrapper{
    display: grid;
    flex-direction: column;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
}

.class{
    border: .2px solid rgb(88, 88, 88);
    border-radius: .2rem;
    display: flex;
    flex-direction: column;
    margin: .3rem;
}

h4.class-title{
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    height: .5rem;
}

.class-description{
    text-align: center;
    font-size: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-top: 3rem;
}

.links-wrapper{
    margin-top: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
}

.link{
    display: flex;
    flex-direction: row;
}

.link-btn {
    border: .1px solid rgb(107, 107, 107);
    background-color: #fff;
    color: rgb(0, 0, 0);
    border-radius: .2rem;
    font-weight: bold;
    flex-grow: 1;
    padding: 1rem 0;
    transition: all .3s;
}

.link-btn:hover{
    background-color: #ddd;
}

